<ion-header>
  <ion-toolbar class="ion-text-center ion-padding">
    <ion-title>UM - TUTOR</ion-title>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center border">
    <ion-title>Información General</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center container">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Nombre: </ion-label>
          <ion-input [(ngModel)]="user" class=" ion-no-padding"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Apellidos: </ion-label>
          <ion-input [(ngModel)]="user" class=" ion-no-padding"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Identificación: </ion-label>
          <ion-input [(ngModel)]="password" class=" ion-no-padding"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Tel Contacto: </ion-label>
          <ion-input [(ngModel)]="user" class=" ion-no-padding"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Programa Academico: </ion-label>
          <ion-input [(ngModel)]="password" class=" ion-no-padding"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Descripción: </ion-label>
          <ion-input [(ngModel)]="password" class=" ion-no-padding"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Email: </ion-label>
          <ion-input [(ngModel)]="password" class=" ion-no-padding"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Contraseña: </ion-label>
          <ion-input [(ngModel)]="user" class=" ion-no-padding"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="primary" (click)="register()">Actualizar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
