<ion-header>
  <ion-toolbar class="ion-text-center ion-padding">
    <ion-title>UM - TUTOR</ion-title>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center border">
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center container">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Usuario: </ion-label>
          <ion-input [(ngModel)]="user" class=" ion-no-padding"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Contraseña: </ion-label>
          <ion-input [(ngModel)]="password" class=" ion-no-padding"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="primary" (click)="login()">Iniciar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
