<ion-header>
  <ion-toolbar class="ion-text-center ion-no-padding ion-no-margin">
    <ion-grid class='ion-no-padding'>
      <ion-row >
        <ion-col size="8" style='align-self: center'>
          <ion-title >UM TUTOR</ion-title>
        </ion-col>
        <ion-col size="4">
          <div class='border ion-padding'>
            <ion-label>Usuario</ion-label>
          </div>
          <div class='border ion-padding'>
            <ion-label>Perfil</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center border">
      <ion-title>Solicitar Tutoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center container">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Titulo: </ion-label>
          <ion-input [(ngModel)]="title" class=" ion-no-padding"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Tema: </ion-label>
          <ion-input [(ngModel)]="topic" class=" ion-no-padding"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Descripción: </ion-label>
          <ion-input [(ngModel)]="description" class=" ion-no-padding"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="primary" (click)="requestTutoringh()">Solicitar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
