<ion-header class='ion-no-padding'>
  <ion-toolbar class="ion-text-center ion-no-padding ion-no-margin">
    <ion-grid class='ion-no-padding'>
      <ion-row >
        <ion-col size="8" style='align-self: center'>
          <ion-title >UM TUTOR</ion-title>
        </ion-col>
        <ion-col size="4">
          <div class='border ion-padding'>
            <ion-label>Usuario</ion-label>
          </div>
          <div class='border ion-padding'>
            <ion-label>Perfil</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center border">
    <ion-grid class='ion-no-padding'>
      <ion-row>
        <ion-col class=" ion-padding" (click)="goPage('/update-user')">Información General</ion-col>
        <ion-col class=" ion-padding" (click)="goPage('/request-tutoringh')">Solicitar Tutorial</ion-col>
        <ion-col class=" ion-padding" (click)="goPage('/list-tutor')">Listado Tutores</ion-col>
        <ion-col class=" ion-padding">Historial Tutorias</ion-col>
        <ion-col class=" ion-padding">Valoración</ion-col>
        <ion-col class=" ion-padding" (click)="logout()">Salir</ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-slides style='height:30vh' pager="true" [options]="slideOpts">
    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
  <div id="container">
    <strong>Información general de la pagina</strong>
  </div>
</ion-content>
