<ion-header>
  <ion-toolbar class="ion-text-center ion-no-padding ion-no-margin">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="8" style="align-self: center">
          <ion-title>UM TUTOR</ion-title>
        </ion-col>
        <ion-col size="4">
          <div class="border ion-padding">
            <ion-label>Usuario</ion-label>
          </div>
          <div class="border ion-padding">
            <ion-label>Perfil</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center border">
    <ion-title>Listado de tutores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class='container'>
    <ion-label>NOMBRE: </ion-label>
          <ion-searchbar placeholder="Buscar" (ionInput)="SearchgetItems($event)"></ion-searchbar>
    <ion-input [(ngModel)]="search_name" class=" ion-no-padding"></ion-input>
  </ion-item>
  <ion-grid class="container">
    <ion-row>
      <ion-col class="border bg-green">NOMBRE</ion-col>
      <ion-col class="border bg-green">FACULTAD</ion-col>
      <ion-col class="border bg-green">ESPECIALIDAD</ion-col>
      <ion-col class="border bg-green">OBSERVACION</ion-col>
      <ion-col class="border bg-green">CORREO</ion-col>
      <ion-col class="border bg-green">TELEFONO</ion-col>
    </ion-row>
    <ion-row *ngFor="let item of items">
      <ion-col class="border">{{item.nombre}}</ion-col>
      <ion-col class="border">{{item.facultad}}</ion-col>
      <ion-col class="border">{{item.especialidad}}</ion-col>
      <ion-col class="border">{{item.observacion}}</ion-col>
      <ion-col class="border">{{item.correo}}</ion-col>
      <ion-col class="border">{{item.telefono}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
