<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      UM TUTOR
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="goRegister()">
        <p>Registrase</p>
      </ion-button>
      <ion-button (click)="login()">
        <p>Iniciar Sesión</p>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-slides style='height:30vh' pager="true" [options]="slideOpts">
    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
  <div id="container">
    <strong>Información general de la pagina</strong>
  </div>
</ion-content>
