<ion-header>
  <ion-toolbar class="ion-text-center ion-padding">
    <ion-title>UM - TUTOR</ion-title>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center border">
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center container">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Nombre: </ion-label>
          <ion-input [(ngModel)]="name" class=" ion-no-padding"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Nombre Usuario: </ion-label>
          <ion-input [(ngModel)]="userName" class=" ion-no-padding"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Apellidos: </ion-label>
          <ion-input [(ngModel)]="lastName" class=" ion-no-padding"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Contraseña: </ion-label>
          <ion-input [(ngModel)]="password" class=" ion-no-padding"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Identificación: </ion-label>
          <ion-input [(ngModel)]="document" class=" ion-no-padding"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Tipo usuario: </ion-label>
          <ion-select [(ngModel)]="typeUser" placeholder="Select One">
            <ion-select-option value="Tutor">Tutor</ion-select-option>
            <ion-select-option value="Estudiante">Estudiante</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Email: </ion-label>
          <ion-input [(ngModel)]="email" class=" ion-no-padding"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="primary" (click)="register()">Guardar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
